@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    background-color: lightblue;
}

header,section,footer{
    flex: none;
    margin-top: 10px;
}

header>h1{
    color: black;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.616);
}

section{
    height: max-content;
    width: 400px;
    padding: 10px;
    

    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.541);
}

div#dados > p,input {
    margin-top: 5px;
}
div#res{
    margin-top: 10px;
}

a{
    color: black;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.616);
}