:root{
    --primary-color:#1f9b91;
}

*{
    /* Configurações globais, qualquer alteração aqui pode afetar bibliotecas */
    box-sizing: border-box;
    outline: 0;
}

body{
    /* Configurações para o corpo*/
    height: 100vh;
    width: 100vw;
    padding: 0px; 
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--primary-color);

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.container{
    max-width: 600px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 5px black;
    text-align: justify;
}

form{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

form p, label, input, button{
    width: 100%;
}

label{
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

label:hover{
    text-decoration: underline;
}

input{
    display: block;
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid black;
    animation-timing-function: 0s ease;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

input:focus, input:hover{
    border: 1px solid var(--primary-color);
}

button{
    height: 50px;
    font-size: 1.5rem;
    text-transform: uppercase;
    border-radius: 10px;
    border: 0;
    box-shadow: 0px 0px 10px black;
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

button:hover{
    background-color: #5e1919;
}